* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Overpass', sans-serif;
    margin: auto;
    /* max-width: 960px; */
    min-width: 360px;
}

h1, h2 {
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 2.8em;
}

h3, h4 {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}

h4 {
    font-size: 1.5em;
}

h3 {
    /* color: orange; */
    font-size: 2.5em;
}

h5 {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
}
@media screen and (min-width: 768px) {

}

/*  NAVIGATION */

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
}

nav {
    padding: 20px 20px 0 20px;
    height: 70px;
}

nav img {
    float: left;
    position: relative;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    text-transform: uppercase;
    float: right;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    color: #833a93;
}

article {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}


main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#home {
    height: 70vh;
    min-height: 800px;
    /* width: 960px; */
    /* min-width: 360px; */
    /* display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center; */
    padding: 50px 20px;
    display: flex;
    align-items: center;
    /* background-color: #833a93; */
    background-image: linear-gradient(to right, rgba(131, 58, 147, 0.80),rgba(56, 64, 149, 0.8)), url('assets/ar-woman.JPG');
    width: 100%;
    /* max-width: 100%; */
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home h1 {
    font-size: 4em;
}

#home h4 {
    font-size: 2em;
}

#home-main {
    width: 600px;
    /* min-width: 360px; */
    padding: 0 10px 0 0;
    color: white;
}



#img {
    width: 350px;
}

.button {
    background-color: #ea7146;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 16px;
    margin: 10px 0;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

#home-main h4 {
    padding: 10px 0 20px 0;
}

.button:hover {
    background-color: #c7273f;
}

#sponsor {
    text-align: center;
    padding: 60px 20px;
}

#sponsor h3 {
    color: #384095;
    font-size: 2em;
}

#sponsor>h3:nth-of-type(2){
    padding: 40px 0;
}

/* CHALLENGE */
#challenge {
    text-align: center;
    padding: 50px 20px;
}

#challenge h2 {
    color: #833a93;
    padding: 15px 0;
}

#challenge div {
    max-width: 450px;
    padding: 30px 50px;
}

/* ABOUT SECTION */
#about {
    /* width: 960px; */
    background-color: #b0ccf4;
    margin: 0 0 -3px 0;
    padding: 80px 20px;
    text-align: center;
}

article div {
    width: 100%;   
}

#about h4, #about h2 {
    padding: 0 0 20px 0;
}

.about {
    width: 550px;
    padding: 30px;
    text-align: center;
}

#ar-person {
    text-align: center;
    margin: 0;
}

/* .fas fa-paint-brush {
    color: white;
} */

#roles {
    text-align: center;
    padding: 50px 20px;
}

#roles h1 {
    color: #384095;
    padding: 20px 0;
    width: 100%;
}

#roles h2 {
    font-size: 2em;
    color: purple;
    padding: 0 0 10px 0;
}

.type {
    padding: 20px 30px;
    width: 40%;
}

#roles form {
    width: 100%;
    padding: 40px 0 0 0;
}


footer {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    bottom: 5px;
    padding: 30px 20px;
}

#partners {
    text-align: center;
    padding: 50px 0 0 0;
}

#partners div {
    padding: 20px 0;
}

#partners h3 {
    color: #384095;
    font-size: 2em;
}

#partners h2 {
    padding: 20px 0;
}

#partners a {
    text-decoration: none;
}

#partners a:hover {
    color: #ea7146;
    
}

@media only screen and (max-width: 960px) {
    #home {
        height: 1100px;
    }

    .type {
        padding: 50px 30px;
        width: 100%;
    }

}